{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="main">
        <h1>Поездки на ваш выбор по самым низким ценам</h1>
    </div>
    <div class="m">
        <img src="{% static 'main/images/road.svg' %}" width="100%" height="100%" >
    </div>
    <div class="m">
        <p>Куда бы вы ни собирались, вы сможете найти свою идеальную поездку среди множества маршрутов и доехать по самой низкой цене.</p>
    </div>
    <div class="m">
        <p>Забронировать поездку проще простого. В нашем приложении легко разобраться: мощный алгоритм за пару минут найдет водителя поблизости, и вам останется нажать пару кнопок для брони.</p>
    </div>
    <div class="d">
        <a href="{% url 'register' %}"><h2>Экономьте, когда вы за рулем</h2></a>
        <p>Зарегистрируйте профиль, берите попутчиков и экономьте на бензине. Чтобы опубликовать первую поездку, нужно всего пару минут. Готовы ехать?</p>
    </div>
{% endblock %}